.header{
	overflow: hidden;
	position: relative;
	background: linear-gradient(45deg, rgb(126, 166, 185) 0%, #E4E4D8 100%);
}

body{
	font-family: 'DM Mono', monospace;
}

.banner{
	background: black;
	color: white;
	padding: 20px;
	font-size: 30px;
	.banner-text-c{
		color: rgb(0, 255, 229);
	}
}

.text{
	margin: 20px;
	font-family: "Nunito", system-ui;
	line-height: 140%;
	max-width: 100vw;
	td{
		padding: 15px;
		background: whitesmoke;
		color: rgb(0, 0, 0);
		// border: 1px solid black;
	}
	
}

.component-name{
	background: rgb(0, 0, 0);
	color: white;
	padding: 10px 15px;
	// margin: 20px;
	// font-weight: 800;
	font-size: 20px;
	width: fit-content;
}

.example-title{
	background: rgb(0, 255, 217);
	color: rgb(0, 0, 0);
	padding: 10px 15px;
	// margin: 20px;
	// font-weight: 800;
	font-size: 20px;
	width: fit-content;
}

.nav-content-root{
	max-width: 900px;
	
}

.nav-context{
	justify-content: center;
}

.example-code{
	// overflow: scroll;
	position: relative;
	max-width: 100vw;
    padding: 5px;
	background: #181818;
    box-sizing: border-box;
    // border-radius: 5px;
	margin: 20px auto;
	overflow: hidden;
	.scroll{
		// overflow-y: scroll;
		// max-height: 800px;
		min-height: 300px;
	}
	pre{
		tab-size: 20px;
		box-sizing: border-box;
		// border-radius: 5px;
		font-family: 'DM Mono';
		padding: 40px 20px;
		margin: 0px;
		font-size: 13px;
		font-weight: 100;
		line-height: 150%;
	}
	.lang-select-box{
		position: absolute;
		right: 0;
		top: 0;
		margin: 5px;
		// border-radius: 5px;
		background: #181818;
		overflow: hidden;
		cursor: pointer;
		display: flex;
		.lang-select-button{
			padding: 8px 10px;
			
			display: flex;
			align-items: center;
			justify-content: center;
			color: whitesmoke;
			font-weight: 600;
			font-size: 13px;
			&.select{
				background: white;
				color: black;
			}
		}
	}
}