@bg1: rgb(19, 19, 19);
@bg2:rgb(41, 41, 41);

@color1: rgb(240, 240, 240);
@color2: rgb(199, 199, 199);

@mainfont: 'DM Mono', monospace;
@fontsize: 1em;
@padding: 0.4em;
@padding2: 0.8em;
@margin: 0.1em;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ed-layout{
	transform: translate(0,0);
	font-family: @mainfont;
	font-size: 1em;
	color: @color1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	*{
		pointer-events: all;
	}
}

.ed-flex-right{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.ed-flex-down{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.ed-input,.ed-toggle-box{
	background-color: @bg2;
	margin: @margin;
}

.ed-input-label{
	margin: @margin;
}

.ed-input{
	-webkit-appearance: none;
	outline: none;
	border: none;
	padding: @padding;
}
.ed-title{
	text-transform: uppercase;
}
.ed-box{
	position: absolute;
	background-color: @bg1;
	.ed-description{
		font-size: 0.8em;
		color: @color2
	}
}

.ed-section{
	
}

.ed-menu{
	background-color: @bg1;
	color: @color1;
	flex-wrap: nowrap;
	width: fit-content;
	position: absolute;
	&.ed-flex-down{
		>.ed-menu-item{
			width: -webkit-fill-available;
			height: auto;
		}
	}
	&.ed-flex-right{
		>.ed-menu-item{
			height: -webkit-fill-available;
			width: auto
		}
	}
	>.ed-menu-item{
		position: relative;
		white-space: nowrap;
		&:hover{
			background: @bg2;
		}
		cursor: pointer;
		padding: @padding @padding2;
		text-transform: uppercase;
		background-color: @bg1;
		color: @color1;
		&.ed-selected{
			background-color: @color1;
			color: @bg1;
		}
	}
}

.ed-menu-item-child{
	position: absolute;
	left: 0px;
	top: 0px;
}

.ed-hidden{
	visibility: hidden;
}